@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}
:root {
  --transition: all 0.3s ease;
}
body {
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
}
/* Root class */
.banner__title {
  padding: 1rem;
  color: white;
}
.divider {
  width: 0.1rem;
  height: 1.2rem;
  margin: auto 0.5rem;
  background-color: rgb(110, 110, 110);
  z-index: 2;
}
.card-view:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.card-img {
  object-fit: contain;
}
/* End */

/* Navber */
.logo-container .logo-img {
  width: 4rem;
  height: 3.5rem;
}
.navbar .navbar-link .navbar-items {
  color: black;
  transition: var(--transition);
}
.navbar .navbar-link .navbar-items:hover {
  color: red;
}
.navbar-Aside {
  transform: translate(150%);
  transition: var(--transition);
}
.show-Aside {
  transform: translate(0%);
}
.start-site {
  background-color: #f5f5f5;
  transition: var(--transition);
}
.start-site span:hover {
  color: red;
  transition: var(--transition);
  cursor: pointer;
}
.below-list-links {
  color: black;
}
/* end */

/* Banner */
.Banner-img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: contain;
}
/* end */

/* Offer Header */
.offer-header ul {
  gap: 4.5rem;
}
.offer-header-links {
  color: black;
}
.offer-header-links:hover,
.offer-header-links:hover > svg {
  transition: var(--transition);
  color: red;
  fill: red;
}
/* end */

/* Section Top Category */

/* Category */

/* Offers */
.offer-title {
  background: rgb(212, 33, 20);
}
/* end */

/* Popular */
.popular-title {
  background-color: rgb(57, 19, 76);
}
/* end */

/* Brands */
.brand-title {
  background-color: black;
}
/* end */

/* Search Store */
.search-title {
  background: rgb(108, 167, 226);
  gap: 5rem;
}
.search-title .search-box .input-group input {
  width: 24rem;
}
.search-title .search-box .input-group button {
  height: 3rem;
}
/* end */

/* Footer */
footer {
  background-color: #f2f2f2;
}
.footer-accordion-links:hover {
  color: rgb(212, 33, 20) !important;
  transition: var(--transition);
}
.centerd-footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
